{{#*inline "page"}}

<main>
  <div class="px-4 py-5 mt-5 text-center">
    <h1 class="display-5 fw-bold">IP Address</h1>
    <div class="col-lg-5 mx-auto">
      <p class="lead mb-3">
        Here's your current IP Address and Geolocation data.
      </p>
    </div>
  </div>

  <div class="container">
    <div class="col-lg-5 mx-auto">
      <table class="table">
        <tbody>
        <tr>
          <th scope="row">IP</th>
          <td class="text-end">...</td>
        </tr>
        <tr>
          <th scope="row">City</th>
          <td class="text-end">...</td>
        </tr>
        <tr>
          <th scope="row">Region</th>
          <td class="text-end">...</td>
        </tr>
        <tr>
          <th scope="row">Country</th>
          <td class="text-end">...</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</main>

{{/inline}}
{{> _layout}}
